.head {
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    background-color: antiquewhite;
}

button {
    margin: 5px;
}

.registerSuccess {
    font-weight: bolder;
    font-size: xx-large;
}

.midContent {
    text-align: center;
    margin: 10px;
    margin-top: 160px;
}

table tbody tr th {
    text-align: right;
    font-size: medium;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

table {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

td, th {
    border: 1px dotted black;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}